.main__customers{
    &-container {
        @extend .container;
    }
    &-left {
        position: relative;
        &::after{
            content:  "";
            display: block;
            background: #FF6428;
            width: 280px;
            height: 250px;
            border-radius: 40px 0px 400px 400px;
            position: absolute;
            transform: rotate(-7.72deg);
            left: -71px;
            top: 50px; 
            z-index: -999;
            @include media($xs){
                left: -22px;
            }
            @include media(411px){
                left: 0;

            }
        }
    }
    &-block {
        @extend .row;
        margin-top: 109px;
        justify-content: space-around;
        margin-bottom: 240px;
        @include media($lg){
            gap: 70px;
            flex-direction: column;
            align-items: center;
        }
    }
    &-descr {
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
        color: $grey;
        max-width: 524px;
        width: 100%;
    }
    &-right{
        &-block{
            display: flex;
            justify-content: space-between;
            margin-top: 56px;
        }
    }
    &-names{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: $black;
    }
    &-job {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.08em;
        color: #868686;
    }
    &-dots{
        display: flex;
        gap: 12px;
        align-items: flex-end;
    }
    &-dot{
        width: 10px;
        height: 16px;
        background: #C4C4C4;
        border-radius: 20px;
        margin-bottom: 8px;
    }
    &-dot.active {
        background: #FF6428;
        transform: rotate(-90deg);
    }
}

.main__guitars {
    &-container {
        @extend .container;
        margin-bottom: 120px;
    }
    &-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        @include media(1060px){
            flex-direction: column;
        }
    }
    &-title{
        text-align: left;
        font-weight: 600;
        font-size: 48px;
        line-height: 140%;
        max-width: 484px;
        width: 100%;
        @include media(1060px){
            text-align: center;
        }
    }
    &-left{
        display: flex;
        flex-direction: column;
        gap: 60px;
        @include media(1060px){
            align-items: center;
        }
    }
    &-btn {
        // width: 193px;
        cursor: pointer;
        display: flex;
        padding: 9px 13px;
        background: $black;
        border-radius: 5px;
        gap: 10px;
        transition: transform 300ms;
        &:hover {
            transform: scale(1.2);
        }
        @include media($xs){
            align-items: center;
        }
    }
    &-download{
        width: 120px;
        color: white;
        font-size: 13px;
        text-align: left;
        text-transform: capitalize;
        @include media($xs){
            width: 70px;
            font-size: 8px;
        }
        & span {
            font-size: 20px;
            text-transform: capitalize;
            @include media($xs){
                font-size: 12px;
            }
        }
    }
    &-icons{
        display: flex;
        gap: 25px;
    }
    &-img{
        filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.08));
        border-radius: 25px;
        // &:nth-child(2){
        // }
    }
    &-right {
        max-width: 568px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        gap: 33px;
        @include media($xs){
            display: none;
        }
        &::before{
            content: '';
            display: block;
            height: 354px;
            width: 500px;
            background: $orange;
            position: absolute;
            border-radius: 50%;
            top: 50px;
            z-index: -9999999999;
        }
    }
}