.main__store{
    margin-bottom: 180px;
    &-container {
        @extend .container;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-titles{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 92px;
    }
    &-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: $darkBlack;
    }
    &-view{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #868686;
        
    }
    &-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 32px;
        @include media($lg){
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }
    &-item{
        &-title{
            margin-top: 40px;
            margin-bottom: 7px;
            color: $darkBlack;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        &-price {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #666666;
        }
    }
}